.scenics img{
    width: 100%;
    height: 150px;
}
.scenics p.introduce{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.footer{
    position:static;
    bottom:0;
    left:0;
    background-color: rgb(20,50,87);
    padding-bottom:10px;
}
div.descipt{
    padding-left:10px;
}
div.descipt p.info{
    text-indent: 2em;
}