@charset "utf-8";
body,html{
	width: 100%;
	height: 100%;
	/* font:14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif; */
}
#app{
	/* width: 1226px; */
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
.header-cont,.banner-cont,.container-cont,.footer-cont,.body-cont{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
img{
	/* display: block; */
}
a:hover{
	color: #FF6700;
}



/* *****************header***************** */
#header{
	width: 100%;
	height: 140px;
	background-color: #ffffff;
}
.header-top{
	width: 100%;
	min-width: 1226px;
	height: 40px;
	background-color: #333333;
}
.header-top .ul1{
	float: left;
	height: 40px;
	line-height: 40px;
}
.header-top li{
	float: left;
}
.header-top .spn{
	float: left;
	margin: 0 0.3em 0 0.3em;
	color: #424242;
}
.header-top li a,.rightBox2 a,.cart-mini{
	font-size: 13px;
	color: #b0b0b0;
}
.header-top li a:hover{
	color: #ffffff;
}
#header .rightBox{
	width: 274px;
	height: 40px;
	line-height: 40px;
	float: right;
}
.rightBox2{
	width: 120px;
	height: 40px;
	background: url(../images/gwc.png) no-repeat 14px 12px #424242;
	background-size: 20px 20px;
	float: right;
	text-indent: 38px;
}

.rightBox2:hover{
	background: url(../images/692a6c3b0a93a24f74a29c0f9d68ec71.png) no-repeat 14px 12px #FFFFFF;
	background-size: 20px 20px;	
}
.rightBox2:hover>a,.rightBox2:hover>span{
	color: #ff6700;
	font-weight: 600;
}
.gwcBox{
	width: 316px;
	height: 100px;
	position: absolute;
	top: 40px;
	right: 0;
	color: #424242;
	background-color: #FFFFFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.15);
	overflow: hidden;
	transition: height 0.3s;
	display: none;
}
.header-bottom {
	height: 100px;
	line-height: 100px;
}
.header-bottom h1{
	display: inline;
}
.header-bottom .header-cont img{
	width: 56px;
	height: 56px;
	margin-top: 22px;
}
.header-bottom .BomRight{
	width: 982px;
	height: 100px;
	float: right;
	line-height: 100px;
}
.BomRight .ul2{
	float: left;
}
.BomRight .ul2 li{
	float: left;
	padding-right: 20px;
}
.BomRight .ul2 li a{
	font-size: 16px;
	color: #333;
}
.BomRight .ul2 li a:hover{
	color: #ff6700;
}

/* 搜索 */
.header-search{
	width: 296px;
	float: right;
	margin-top: 25px;
	border: 1px solid #e0e0e0;
}
.search-form{
	position: relative;
	width: 296px;
	height: 50px;
	z-index: 20;
}
input{
	width: 225px;
	height: 50px;
	position: absolute;
	box-sizing: border-box;
	border: none;
	/* top: 0; */
	/* left: 20px; */
	padding-left: 10px;
	padding-right: 10px;
}
.header-search .Search{
	width: 50px;
	height: 100%;
	border-left: 1px solid #e0e0e0;
	float: right;
	background: url(../images/sea1.jpg) no-repeat 16px 15px #FFFFFF;
}
.header-search .Search:hover{
	background: url(../images/sea2.jpg) no-repeat 16px 15px #ff6700;
}


/* *****************footer*************** */
#footer{
	width: 100%;
	min-width: 1226px;
	height: 598px;
	background-color: #FFFFFF;
}
#footer .footer-top{
	width: 100%;
	height: 332px;
}
#footer .footer-top .shouhou{
	width: 100%;
	height: 25px;
	line-height: 80px;
	padding: 27px 0;
	border-bottom: 1px solid #e0e0e0;
}

.footer-top .shouhou .ul7 li{
	float: left;
	width: 19.8%;
	height: 25px;
	border-left: 1px solid #e0e0e0;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}
.footer-top .shouhou .ul7 :first-child {
	border-left: none;
}
.footer-top .shouhou .ul7 li a .iconfont{
	margin-right: 6px;
	font-size: 24px;
	line-height: 24px;
	vertical-align: -4px;
}
.footer-top .shouhou .ul7 li a{
	color: #616161;
	font-size: 16px;
	-webkit-transition: color .2s;
	transition: color .2s;
}
.footer-top .shouhou .ul7 li a:hover{
	color: #FF6700;
}
/* 关于小米 */
.footer-top .guanyu{
	width: 100%;
	height: 172px;
	padding: 40px 0 40px 0;
}
.footer-top .guanyu dl{
	float: left;
	width: 160px;
	margin: 0;
}
.footer-top .guanyu dt{
	margin: -1px 0 26px;
	font-size: 14px;
	line-height: 1.25;
	color: #424242;
}
.footer-top .guanyu dd{
	margin: 10px 0 0;
	font-size: 12px;
}
.footer-top .guanyu a{
	color: #333;
}
.footer-top .guanyu a:hover{
	color: #FF6700;
}

/*  联系 */
.footer-top .guanyu .call{
	float: right;
	width: 251px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	color: #616161;
}
.guanyu .call .phone{
	font-size: 22px;
	line-height: 1;
	color: #ff6700;
}
.guanyu .call p{
	margin: 0 0 5px 0;
	font-size: 12px;
}
.guanyu .call .rgkf{
	background: #fff;
	color: #ff6700;
	display: inline-block;
	width: 118px;
	height: 28px;
	border: 1px solid #ff6700;
	font-size: 12px;
	line-height: 28px;
}
.guanyu .call .rgkf:hover{
	background-color: #FF6700;
	color: white;
}
.guanyu .call .icon-xiaoxi{
	font-size: 12px;
}
.guanyu .call .gzxm{
	font-size: 12px;
	margin-top: 10px;
	position: relative
}
.guanyu .call .gzxm a{
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	/* margin-top: -3px; */
}
.guanyu .call .gzxm .iconfont{
	font-size: 20px;
}
.guanyu .call .gzxm img{
	width: 126px;
	height: 126px;
	z-index: 2;
	position: absolute;
	top: 20px;
	left: 100px;
	display: none;
}
.guanyu .call .gzxm .wx:hover>img{
	display: block;
}
.guanyu .call .gzxm .iconfont:hover{
	color: #FF6700;
}





/* *******footer-bottom***** */
#footer .footer-bottom{
	padding: 30px 0;
	font-size: 12px;
	position: relative;
	background: #fafafa;
}
.footer-bottom .logo2{
	width: 56px;
	height: 56px;
	margin-right: 10px;
	background: url(../images/logo-2.png) no-repeat ;
	background-size: 56px;
	position: absolute;
	/* top: 0;
	left: 0; */
}
.footer-bottom .bottom-wz{
	color: #757575;
	padding-left: 67px;
}
.footer-bottom .bottom-wz{
	margin: 0;
	line-height: 18px;
}
.footer-bottom .bottom-wz .wz a{
	color: #757575;
}
.footer-bottom .bottom-wz a:hover{
	color: #FF6700;
}
.footer-bottom .bottom-wz a,.footer-bottom .bottom-wz p:last-child {
	color: #b0b0b0;
}
/* 图标 */
.footer-bottom .tubiao{
	height: 28px;
	margin: 4px 0 15px;
	padding-left: 67px;
}
.footer-bottom .tubiao{
	display: block;
}
.footer-bottom .tubiao img{
	wiimgdth: auto;
	height: 28px;
	margin-left: 0;
}
.footer-bottom .dibu{
	clear: both;
	margin: 30px auto 0;
	width: 100%;
	height: 20px;
	display: block;
	text-align: center;
	font-size: 20px;
	font-family: "楷体";
	color: #bababa;
}
.miaosha-btn{
	right: 0;
	position: absolute;
	top: -40px;
}
.swiper-button-shang,.swiper-button-xia{
	width: 40px;
	height: 30px;
	border: 1px solid #e0e0e0;
	float: left;
	text-align: center;
	line-height: 30px;
	color: #e0e0e0;
}



/* *************侧边栏*********************** */
.rightmenu{
	position: fixed;
	top: 200px;
	width: 80px;
	right: 0;
	font-size: 12px;
	z-index: 10;
}
.rightmenu .iconfont{
	font-size: 28px !important;
}
.rightmenu span{
	width: 100%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	border: #e0e0e0 1px solid;
	background-color: #fff
}
.rightmenu span a{
	color: #757575;
}
.rightmenu span:nth-child(1),
.rightmenu span:nth-child(2),
.rightmenu span:nth-child(3),
.rightmenu span:nth-child(4){
	border-bottom: none;
}


.rightmenu span:nth-child(6){
	margin-top: 30px;
}

.rightmenu span:hover>a{
	color: #FF6700;
}